<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <script type="text/javascript" src="/scripts/paper/dist/paper-full.js"></script>
        <script type="text/javascript" src="/scripts/howler/dist/howler.min.js"></script>

        <!-- Define inlined PaperScript associate it with myCanvas -->
        <script type="text/paperscript" canvas="myCanvas" src="js/anim.js"></script>


        <!-- <script type="text/javascript" src="js/paper-full.js"></script>
        <script src="js/anim.js"></script> -->
        <title>Key Percussion</title>
    </head>
    <body>
        <h1 style="text-align: center; font-size: 500%;">Press any key a-z</h1>
        <canvas id="myCanvas" resize>
            

        </canvas>

    </body>
</html>