/* Forcing the body and html elements to take the whole page */
* { 
    margin: 0;
    padding: 0;
}

body, html { height:100%; }

/* The canvas takes up the full body of the container */
#myCanvas {
    position:absolute;
    width:100%;
    height:100%;
}